*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  color: #435155;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

body {
  font-size: 16px;
  line-height: 24px;
  margin: auto;
}

h1 {
  font-size: 64px;
  line-height: 72px;
  margin-top: 24px;
  margin-bottom: 48px;
  text-align: center;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
  text-align: center;
}

h3 {
  font-size: 25px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  margin-bottom: 0px;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 24px;
  margin-bottom: 24px;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

code {
  line-height: 1.5;
}

pre[class*=language-] {
  background: transparent;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.s-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 192px;
  justify-content: center;
  margin-bottom: 64px;

  &__logo {
    height: 92px;
  }

  &__text {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
  }
}

.s-content {
  margin: auto;
  max-width: 800px;
  padding: 0 16px;
}

.s-api {
  &__col {
    padding: 16px;
    vertical-align: top;

    &--name {
      text-align: right;
    }
  }
}

.s-docs {
  &__title {
    margin: 64px 0;
    text-align: center;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;

    &:nth-child(even) {
      background: #f1f3f4;

      .s-docs__right {
        background: #272822;
      }
    }
  }

  &__left,
  &__right {
    flex: 0 0 auto;
    padding: 64px;
    width: 50%;
  }

  &__right {
    align-items: center;
    background: #36372f;
    display: flex;
  }

  &__text {
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .s-header {
    margin-bottom: 32px;
  }

  .s-docs__title {
    margin: 32px 0;
  }

  .s-docs__left,
  .s-docs__right {
    width: 100%;
    padding: 32px;
  }
}
